@import ../../styles/helpers

.filters
    flex-shrink: 0
    width: 352px
    padding: 48px
    border-radius: 24px
    box-shadow: inset 0 0 0 1px $neutrals6, 0px 40px 32px -24px rgba(15, 15, 15, 0.12)
    +d
        width: 304px
        padding: 32px
    +t
        display: none
        width: 100%
    +dark
        box-shadow: inset 0 0 0 1px $neutrals3, 0px 40px 32px -24px rgba(15, 15, 15, 0.12)
        background: $neutrals2
    &.active
        +t
            display: block
            margin-top: 32px
        +m
            margin-top: 16px

.toggle
    position: relative
    margin-left: 24px
    svg
        &:nth-child(2)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) 
            opacity: 0
    &.active
        background: #a92e71
        box-shadow: inset 0 0 0 2px #a92e71
        +dark
            background: #a92e71
        svg
            fill: $neutrals8
            &:first-child
                opacity: 0
            &:nth-child(2)
                opacity: 1
.all_activity
    position: relative
    z-index: 3
    display: flex
    align-items: center
    width: calc(100% - 352px)
    padding-right: 128px
    +x
        padding-right: 64px
    +d
        width: calc(100% - 304px)
        padding-right: 32px
    +t
        width: 100%
        padding: 0

.title
    margin-right: auto
    
.button
    +m
        width: 100%
        margin-top: 16px
.row
    display: flex
    align-items: flex-start
    +t
        flex-direction: column
        margin-bottom: 0
        margin-left: 20px

    