@import ../../styles/helpers

.filters
    flex-shrink: 0
    width: 352px
    padding: 48px
    border-radius: 24px
    transition: all .5s
    box-shadow: inset 0 0 0 1px $neutrals6, 0px 40px 32px -24px rgba(15, 15, 15, 0.12)
    +d
        width: 304px
        padding: 32px
    +t
        display: none
        width: 100%
    +dark
        box-shadow: inset 0 0 0 1px $neutrals3, 0px 40px 32px -24px rgba(15, 15, 15, 0.12)
        background: $neutrals2
    &.active
        +t
            display: block
            margin-top: 32px
        +m
            margin-top: 16px

.all__activity
    display: flex
    flex-wrap: nowrap
    align-items: flex-start
    .table
        +m
            margin-left: -0px 
            display: flex
            width: 100%
            margin-top: 20px
        flex: auto
        margin-left: 20px
        overflow: auto
        padding: 2px
        max-height: 616px
        table
            margin-top: 0 !important
            td
                padding: 15px 7px !important
                h4
                    img
                        width: 4em !important

.title
    margin-right: auto
.toggle
    position: relative
    margin-left: 24px
    margin-bottom: 40px
    svg
        &:nth-child(2)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%) 
            opacity: 0
    &.active
        background: $pink-purple
        box-shadow: inset 0 0 0 2px $pink-purple
        +dark
            background: $pink-purple
        svg
            fill: $neutrals8
            &:first-child
                opacity: 0
            &:nth-child(2)
                opacity: 1
.top
    position: relative
    z-index: 3
    display: flex
    align-items: center
    +t
        width: 100%
        padding: 0
    .clear__all
        font-size: 16px
        color: #777E90
        &:hover
            color: $pink-purple
        +dark
            color: #fff
            &:hover
                color: $pink-purple
        +m 
            display: none
        margin-bottom: 40px
    .TableFilter
        border-radius: 15px
        border: 1px solid $pink-purple
        font-size: 16px
        margin: 0 8px
        padding: 7px 7px 
        +dark
           color: #fff
           .icon
                color: #fff
        &:hover
           background: $pink-purple
        +m
           display: none
        margin-bottom: 40px
    .title
        margin-bottom: 40px
        color: $pink-purple
.title
    margin-right: auto
    
.button
    +m
        width: 100%
        margin-top: 16px

    
