@import ../../../styles/helpers

$tablet: 942px
$mobile: 768px

.body
    font-family: "DM Sans", sans-serif
    .active
        color: #08E600
    .unactive
        color: red

@media (max-width: $tablet)
    .mobile, .active, .unactive
        display: none

@media (max-width: $mobile)
    .mobile
        display: revert !important
    

