@import ../../../../styles/helpers
.section
    overflow: hidden

.wrapper
    position: relative

.title
    margin-bottom: 80px
    +d
        margin-bottom: 64px
    +m
        margin-bottom: 32px
        text-align: center

.inner
    margin: 0 -16px

.gallery
    display: flex
    flex-wrap: wrap
    margin: -8px -4px 16px

.subtitle
    margin-top: 10px
    margin-bottom: 8px
    text-align: center
    color: #fff
    +dark
        color: $neutrals8

.user
    display: flex
    align-items: center
    margin-right: auto
    color: $neutrals3
    +dark
        color: $neutrals6
    span
        font-weight: 500

.avatar
    margin-left: 45%
    flex-shrink: 0
    width: 30px
    height: 30px
    img
        width: 100%
        height: 100%
        // object-fit: cover
        // border-radius: 50%
        justify-items: center